# Django Settings
SECRET_KEY=django-insecure-ztxpz)nyb2yh-l3ae)q5t1d+a1#vz1p!+!^i$h9b-zdw)y2f9x
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration
# Set USE_SQLITE=True to run locally with SQLite easily
USE_SQLITE=True
DB_NAME=hydroponik_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# WhatsApp Gateway API Endpoint (Baileys)
WA_GATEWAY_URL=http://127.0.0.1:3000/send

# Google Gemini API Key configuration
GEMINI_API_KEY=AIzaSyCvljIsIxsnZO4xT5jSihoYu1FIhGsvYzM
